AddOutputFilterByType DEFLATE text/html text/xml text/css text/javascript application/javascript 


<FilesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|html)$">
Header set Expires "Sat, 7 Nov 2015 20:00:00 GMT"
</FilesMatch>


<FilesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>

<FilesMatch ".(xml|txt)$">
Header set Cache-Control "max-age=86400, public, must-revalidate"
</FilesMatch>

<FilesMatch ".(html|htm)$">
Header set Cache-Control "max-age=86400, must-revalidate"
</FilesMatch>