<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://findproduct.us"
        id        = "findproduct.us"
        version   = "0.0.1">

    <name>Find Product</name>
	
	<description>
        Find Products Near You
    </description>

    <author href="http://findproduct.us" email="support@findproduct.us">
        Find Product
    </author>


<gap:plugin name="org.apache.cordova.geolocation" />
<preference name="permissions" value="none"/>


<access origin="*" />


</widget>