<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://findproduct.us"
        id        = "findproduct.us"
        version   = "1.0.0">

    <name>Find Product</name>
	
	<description>
        Find Products Near You
    </description>

    <author href="http://findproduct.us" email="support@findproduct.us">
        Find Product
    </author>

<gap:platform name="ios" />
<gap:plugin name="org.apache.cordova.geolocation" />

<platform name="ios">
<feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
</feature>
</platform>

</widget>